.loader {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-animation: blinker 3s ease-in-out infinite;  /* Safari 4+ */
    -moz-animation: blinker 3s ease-in-out infinite;  /* Fx 5+ */
    -o-animation: blinker 3s ease-in-out infinite;  /* Opera 12+ */
    animation: blinker 3s ease-in-out infinite;
    background-color: rgba( 255, 255, 255, .1 );
}

body.loading .loader {
    overflow: hidden;
}

body.loading .loader {
    display: block;
}

@keyframes blinker {
    0% { opacity: 0.0; }
    50% { opacity: 1.0; }
    100% { opacity: 0.0; }
}
