{% load static %}
<html lang="en">
<head>
  <title>Flag One Basement</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="icon" href="{% static 'favicon.ico' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css.css' %}">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>

<body background="{% static 'candle.png' %}" style="color:white;background-color:black;">
  <h1>Greeting stranger</h1><h2>and welcome.</h2><br><br>
  <form>
    {% csrf_token %}
    <label style="padding-bottom:15px" for="upload">Please, give me an image and I will tell you...</label><br><br>
    <input type="file" id="upload" name="upload">
    <button type="button" id="hihihi">Here we go...</button>
  </form>
  <div class="loader"></div>
  <script src="{% static 'ajax_setup.js' %}"></script>
  <script src="{% static 'js.js' %}"></script>
</body>
</html>
